/**
 * @author Alexander Marenin
 * @date November 2014
 */

body.index {
    .col-sm-2 > img {
        margin-bottom: 20px;
    }

    h4 {
        overflow: hidden;
        .right {
            float: right;
        }
        a {
            color: inherit;
        }
    }

    .block {
        cursor: pointer;
        padding: 4px 4px 1px;
        margin: 0 0 30px 0;
        background-color: @color-light-grey;
        &.old {
            background-color: @color-light-berry-red;
        }
        &.no-screenshot {
            background-color: @color-light-orange;
        }
        img {
            margin-bottom: 3px;
        }
    }

    #modal-comment {
        max-width: 100%;
        min-height: 75px;
    }

    #delete-data {
        float: left;
    }

    .so-well {
        font-size: 0.8em;
        color: lighten(@color-text, 15%);
        font-style: italic;
        margin-bottom: 2px;
    }

    #status-container {
        .label {
            margin-right: 10px;
        }
    }

    .gly-spin {
        margin-left: 4px;
    }
}