/**
 * @author Alexander Marenin
 * @date November 2014
 */

body.index {
    .col-sm-2 > img {
        margin-bottom: 20px;
    }

    h4 {
        overflow: hidden;
        .right {
            float: right;
        }
    }
}