// @author Alexander Marenin
// @date November 2014

extends ../layout

block content
    .row
        .col-md-6.green
            h2 stdout
            pre=stdout
        .col-md-6.red
            h2 stderr
            pre=stderr
